@charset "UTF-8";

/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}

body {
  background-color: grey;
}

.middle {
  background-color: green;
}

.noBottomMarginNavbar {
  margin-bottom: 0px;
}

main {
  border-style: solid;
  border-width: 20px 0px 0px 0px;
  border-color: green;
}

#panel {
  display: none;
}

#hugee {
  font-size: 20px;
}
